html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.motto{

  color: darkgoldenrod;
  font-style: italic;
  font-weight: bold;
  font-size: 24px;

}

.hidden{
  visibility: hidden;

}
.movie{

color: darkgoldenrod;
font-size: 24px;

}
.bt_pelicula{
  margin:10px;
  border-radius: 10px;
  color: black;


}
.bt_pelicula:hover{

  box-shadow: cornflowerblue 5px;
  margin: 10px;
  color: black;
  background: -webkit-gradient(linear, left top, left bottom, from(#e1ad30), to(#FFD46C));
  background: -webkit-linear-gradient(top, #e1ad30 #FFD46C);
  background: -moz-linear-gradient(top, #e1ad30, #FFD46C);
  background: -ms-linear-gradient(top, #e1ad30, #FFD46C);
  background: -o-linear-gradient(top, #e1ad30, #FFD46C);
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
   word-wrap: break-word;
}

.subtitle{

color: darkgoldenrod;
font-size: 16px;

}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
